<!DOCTYPE html>
<html>
<head>
  <title>Admin Interface</title>
</head>
<body>
  <h1>Admin Interface</h1>
  <h2>Scan this QR code to visit the form:</h2>
  <img src="<%= qrCode %>" alt="QR Code">
  <br><br>
  <a href="/download">Download User Data</a>
</body>
</html>
